@import "/src/styles/colors/colors.scss";

.learn-section {
  text-align: center;
  margin: 70px auto;
  position: relative;
  .title {
    color: $primaryDark;
    font-size: 44px;
    margin-bottom: 20px;
  }
  p {
    color: $greyMain;
  }
  span {
    position: absolute;
    width: 15%;
    height: 5px;
    background-color: $primaryLight1;
    border-radius: 5px;
    top: 50%;
    transform: translatey(-50%);
  }
  .left-side {
    left: 15%;
  }
  .right-side {
    right: 15%;
  }
}
