@font-face {
  font-family: "URW DIN Arabic";
  src: url(./URW-DIN-Arabic-Black.ttf) format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN Arabic";
  src: url(./URW-DIN-Arabic-Bold.ttf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN Arabic";
  src: url(./URW-DIN-Arabic-Medium.ttf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "URW DIN Arabic";
  src: url(./URW-DIN-Arabic.ttf) format("opentype");
  font-weight: normal;
  font-style: normal;
}



* {
  font-family: "URW DIN Arabic";
  font-weight: 700;
}
